<div class="container text-center" >
  <h1>Welcome To History Maps</h1>
</div>
<% if current_user %>
  <%= link_to "Log Out", logout_path, method: :delete %>
<%else%>
  <%= link_to "Register/Sign In", '/auth/google_oauth2', method: :get %>
<%end%>

<search class="h-100 d-flex align-items-center justify-content-center">
<%= form_with url: buildings_path, method: :get, local: true do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.submit "See History Near Me" %>
  <% end %>
</search>
