
<div id="property">

    <% @properties.each do |property| %>
      Title: <%= property.title %><br>
      Published Date: <%= property.published_date %><br>
      Creator: <%= property.creator %><br>
      <% if !property.image_full.nil? && property.image_full.include?(".jpg") %>
          <%= image_tag(property.image_full) %>
        <% elsif property.image_thumbnail %>
          <%= image_tag(property.image_thumbnail) %>
        <% else %>
          message
      <% end %><br>
    <% end %>

</div>
