
<div id="property">

    <% @properties.each do |property| %>
      <%= property.title %><br>
      <%= property.published_date %><br>
      <%= property.creator %><br>
      <%= property.creator %><br>
      <% if property.image_full.include?(".jpg") %>
          <%= image_tag(property.image_full) %>
        <% elsif property.image_thumbnail %>
          <%= image_tag(property.image_thumbnail) %>
        <% else %>
          message
      <% end %><br>
    <% end %>

</div>
